<section class="pdcBox">
    <h3>String Related Pipes</h3>

    <div>
        <div> Original: <strong>{{str}}</strong></div>
        <div> {{str|lowercase}}</div>
        <div> {{str|uppercase}}</div>
        <div> {{str|titlecase}}</div>
    </div>
</section>

<section class="pdcBox">
    <h3>Number Pipe</h3>

    <div>
        <div> Original: <strong>{{num}}</strong></div>
        <div> {{num|number:'10.0-0'}}</div>
        <div> {{num|number:'4.2-4'}}</div>
        <div> {{num|number:'2.1-2'}}</div>
        <div> {{num|number:'2.2-2'}}</div>
    </div>
</section>

<section class="pdcBox">
    <h3>Currency Pipe</h3>

    <div>
        <div> Original: <strong>{{num}}</strong></div>
        <div> {{num|currency:'INR'}}</div>
        <div> {{num|currency:'USD'}}</div>
        <div> {{num|currency:'JPY'}}</div>
        <div> {{num|currency:'GBP'}}</div>
        <div> {{num|currency:'AUD'}}</div>
        <div> {{num|currency:'AED'}}</div>
        <div> {{num|currency:'XYZ'}}</div>        
    </div>
</section>


<section class="pdcBox">
    <h3>Date Pipe</h3>

    <div>
        <div> Original: <strong>{{dt}}</strong></div>
        <div> {{dt|date:'long'}}</div>
        <div> {{dt|date:'short'}}</div>
        <div> {{dt|date:'dd-MM-yy'}}</div>
        <div> {{dt|date:'dd-MMM-yyyy'}}</div>
        <div> {{dt|date:'dd-MMMM-yyyy'}}</div>
        <div> {{dt|date:'dd-MM-yy hh:mm:ss aa'}}</div>
        <div> {{dt|date:'dd-MM-yy HH:mm:ss'}}</div>
    </div>
</section>

