.brand{
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
    padding: 0.75em;
    margin:0px;
}

.navbar{
    background-color: #00ffff;
    color: #000000;
    padding: 0.75em;
    margin:0px;
    margin-bottom: 5px;
}

.navbar>a{
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    margin: 2px;
    padding:0.75em;
    background-color: #ff00ff;
    color: #000000;
    border-radius: 10px;
}

.active{
    background-color: #000000;
    color: #ff00ff;
}